@import './partials/header.scss';
@import './partials/footer.scss';


html,
body {
   margin: 0;
   height: 100%;
   min-height: 100%;
}
body {
   display: flex;
   flex-direction: column;
}

header,
footer {
   flex: none;
}

main {
   overflow: auto;
   overflow-scrolling: touch;
   flex: auto;
   background: red;
}

main .login, main .register {
   /* The image used */
   background-image: url('../../assets/images/bg_full_landing_page.png');

   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}