@import 'buttons.scss';
@import 'inputs.scss';
@import 'typography.scss';
@import 'navigation.scss';
@import 'misc.scss';
@import './components/loading.scss';
@import './components/toaster.scss';
@import './partials/header.scss';
@import './partials/footer.scss';


html,
body {
   margin: 0;
   height: 100%;
   min-height: 100%;
}
body {
   display: flex;
   flex-direction: column;
   font-family: 'Roboto', sans-serif !important;
}

header,
footer {
   flex: none;
}

body main {
   overflow: auto;
   overflow-scrolling: touch;
   flex: auto;
}

main {
   flex-grow: 1;

   /* The image used */
   background-image: url('../../assets/images/bg_full_landing_page.png');

   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

[data-ui-view="main"]{
   display: flex;
   background-color: white;
   min-height: 100%;
}

[data-ui-view="main"] nav{
   background-color: $nav-background;
   flex: 1;
   max-width: 80px;
}

[data-ui-view="main"] .main-container{
   padding: 20px 50px;
   flex: 5;
}

[data-ui-view="main"].ng-enter, [data-ui-view="main"].ng-leave {
   /*position: absolute;
   left: 0;
   right: 0;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;*/
   transition:all .5s ease-in-out;
}

[data-ui-view="main"].ng-enter {
   opacity: 0;
   /*-webkit-transform:scale3d(0.5, 0.5, 0.5);
   -moz-transform:scale3d(0.5, 0.5, 0.5);
   transform:scale3d(0.5, 0.5, 0.5);*/
}

[data-ui-view="main"].ng-enter-active {
   opacity: 1;
   /*-webkit-transform:scale3d(1, 1, 1);
   -moz-transform:scale3d(1, 1, 1);
   transform:scale3d(1, 1, 1);*/
}

[data-ui-view="main"].ng-leave {
   opacity: 1;
   /*padding-left: 0px;*/
   /*-webkit-transform:translate3d(0, 0, 0);
   -moz-transform:translate3d(0, 0, 0);
   transform:translate3d(0, 0, 0);*/
}

[data-ui-view="main"].ng-leave-active {
   opacity: 0;
   /*padding-left: 100px;*/
   /*-webkit-transform:translate3d(100px, 0, 0);
   -moz-transform:translate3d(100px, 0, 0);
   transform:translate3d(100px, 0, 0);*/
}